
</div>


<footer id="page_footer">

    <div>
        <i class="fa-brands fa-github"></i> <a href="https://github.com/Iker-JS/pokedex_midterm">GitHub</a>
    </div>

    <div>
        <i class="fa-solid fa-power-off"></i> Powered By Jaiker
    </div>

    <div>
        <i class="fa-solid fa-web-awesome"></i> <a href="https://pokeapi.co/">PokeApi</a>
    </div>

</footer>
</html>