<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The JS Pokedex</title>
    <link rel="stylesheet" href="./styles/style.css"/>
    <script src="https://kit.fontawesome.com/488ba90aeb.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="page_header_container">

    <header class="page_header">
        <h1>The JS Pokedex</h1>
    </header>
</div>

<!-- <marquee behavior="" direction="right">holaaaa</marquee>
<marquee behavior="" direction="left">holaaaa</marquee> -->