<div class="page_pokemon_container">

    <div id="pokemon_name">
        <h1><%= pokemonData.name %></h1>
    </div>

    <div id="display_card">

        <div class="pokemon_card">

            <%- include("pokemon_card"); -%>

        </div>
    </div>


    <div id="pokemon_abilities">
    
        <h2 class="abilities_moves">Abilitie(s):</h2>
        <ul id="bulletpoints">
          <% pokemonData.abilities.forEach(function(ability) { %>
            <li><%= ability.ability.name %></li>
          <% }); %>
        </ul>
    </div>

    <div id="pokemon_moves">
        <h2 class="abilities_moves">Move(s):</h2>
        <ul id="bulletpoints">
            <% pokemonData.moves.forEach(function(move) { %>
                <li><%= move.move.name %></li>
            <% }); %>
        </ul>
    </div>

</div>